.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.item-list {
  padding-left: 33px;
  padding-right: 33px;
  margin-bottom: 20px;
}

.a {
  color: #000;
  text-align: right;
  font-family: "Heebo";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
p,
h1,
h2,
h3,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Heebo", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

@media screen and (max-width: 767px) {
  .section1 {
    padding-top: 15px;
    padding-bottom: 59px;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 375px;
  }
}
.img-john {
  margin-left: 25%;
  margin-right: 25%;
}
@media screen and (min-width: 767px) {
  .img-john {
    width: 243px;
    height: 243px;
  }
}

.title-john {
  color: var(--Dark-Color, #21243D);
  font-family: "Heebo";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
  padding-top: 43px;
  width: 500px;
  margin-left: 148px;
}
@media screen and (max-width: 767px) {
  .title-john {
    text-align: center;
    width: 312px;
    margin-left: 0px;
  }
}

.text-john {
  color: var(--Dark-Color, #21243D);
  font-family: "Heebo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 21px;
  padding-bottom: 27px;
  width: 500px;
  margin-left: 148px;
}
@media screen and (max-width: 767px) {
  .text-john {
    text-align: center;
    width: 328px;
    margin-left: 0px;
  }
}

.button {
  margin-left: 148px;
  color: #FFF;
  font-family: "Heebo";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 208px;
  height: 47px;
  border: none;
  border-radius: 2px;
  background: var(--Primary, #FF6464);
}
@media screen and (max-width: 767px) {
  .button {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (min-width: 767px) {
  .section1 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-left: 149px;
    margin-right: 149px;
  }
}

@media screen and (min-width: 767px) {
  .info-container {
    width: 497px;
    margin-bottom: 71px;
  }
}

.section2 {
  background: #EDF7FA;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 38px;
}
@media screen and (max-width: 767px) {
  .section2 {
    width: 375px;
  }
}
@media screen and (min-width: 767px) {
  .section2 {
    width: 1152;
  }
}

.info-block {
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
  width: 354px;
  height: 266px;
  margin-bottom: 17px;
}
@media screen and (min-width: 767px) {
  .info-block {
    margin-right: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.title-RP {
  color: #21243D;
  font-family: "Heebo";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}
@media screen and (max-width: 767px) {
  .title-RP {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.title-VA {
  color: #00A8CC;
  text-align: right;
  font-family: "Heebo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 767px) {
  .title-VA {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 170px;
    padding-right: 170px;
  }
}

.text {
  color: #21243D;
  font-family: "Heebo";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  padding: 12px 8px 0px 19px;
}

.data-and-who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.data {
  color: var(--Dark-Color, #21243D);
  font-family: "Heebo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 18px;
  padding-right: 24px;
  border-right: solid 1px black;
}

.who {
  color: var(--Dark-Color, #21243D);
  font-family: "Heebo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 24px;
}

.text-info {
  color: var(--Dark-Color, #21243D);
  font-family: "Heebo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 19px 21px 22px 19px;
}

@media screen and (min-width: 767px) {
  .container-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.title-FW {
  color: #21243D;
  font-family: "Heebo";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  padding-top: 15px;
}
@media screen and (max-width: 767px) {
  .title-FW {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.text-dashboards {
  color: #21243D;
  font-family: "Heebo";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  padding: 17px 0px 17px 0px;
}

.data-dashboards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.data-2 {
  margin-right: 22px;
  padding: 0px 12px 0px 12px;
  border-radius: 16px;
  background: #142850;
  color: white;
}

.text-db {
  color: #8695A4;
  font-family: "Heebo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-info2 {
  color: #21243D;
  font-family: "Heebo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 24px 0px 18px 0px;
}
@media screen and (min-width: 767px) {
  .text-info2 {
    width: 594px;
  }
}
@media screen and (max-width: 767px) {
  .text-info2 {
    width: 300px;
  }
}

.section3 .container {
  margin-bottom: 150px;
}
@media screen and (min-width: 767px) {
  .section3 .container {
    margin-left: 146px;
  }
}

.info-card-2, .info-card-3 {
  border-bottom: solid 1px #E0E0E0;
  padding-top: 31px;
  width: 858px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .info-card-2, .info-card-3 {
    display: none;
  }
}

.info-card {
  border-bottom: solid 1px #E0E0E0;
}
@media screen and (min-width: 767px) {
  .info-card {
    padding-top: 31px;
    width: 858px;
    margin-bottom: 30px;
  }
}

.svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item {
  padding-right: 35px;
}

.license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 54px;
  padding-top: 26px;
  color: #21243D;
  text-align: center;
  font-family: "Heebo";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=main.css.map */