

.svg-list {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.item {
    padding-right: 35px;
}

.license {
    display: flex;
    justify-content: center;

    padding-bottom: 54px;
    padding-top: 26px;

    color: #21243D;
text-align: center;
font-family: 'Heebo';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}