.title-FW {
    @media screen and (max-width: 767px) {
        display: flex;
    justify-content: center;

    }
    color: #21243D;
font-family: 'Heebo';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 60px;
padding-top: 15px;
}

.text-dashboards {
    color: #21243D;
font-family: 'Heebo';
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 30px;

padding: 17px 0px 17px 0px;
}

.data-dashboards {
    display: flex;
}

.data-2 {
// margin-left: 18px;
margin-right: 22px;
padding: 0px 12px 0px 12px;

border-radius: 16px;
background: #142850;

color: white;
}

.text-db {
    color: #8695A4;
    font-family: 'Heebo';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-info2 {
    color: #21243D;
    font-family: 'Heebo';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 24px 0px 18px 0px;

    @media screen and (min-width: 767px) {
        width: 594px;
    }
}

.section3 .container {
    // border-bottom: solid 1px #E0E0E0;
    margin-bottom: 150px;

    @media screen and (min-width: 767px) {
        margin-left: 146px;
    }
}

.info-card:not(:first-child) {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.info-card {
    border-bottom: solid 1px #E0E0E0;
    padding-top: 31px;
    width: 858px;
}

