.img-john {
    margin-left: 25%;
    margin-right: 25%;
}

.title-john {
    color: var(--Dark-Color, #21243D);
    text-align: center;
    font-family: Heebo;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    padding-top: 43px;
}

.text-john {
    color: var(--Dark-Color, #21243D);
    text-align: center;
    font-family: 'Heebo';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 21px;
    padding-bottom: 27px;
}

.button {
    margin-left: 20%;
    margin-right: 20%;
    color: #FFF;
    font-family: 'Heebo';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 208px;
    height: 47px;
    border: none;
    border-radius: 2px;
    background: var(--Primary, #FF6464);
}
